body {
    font-family: Arial;
    background: #f5f3ff;
    text-align: center;
}

h1, h2 {
    color: #4b0082;
}

.container {
    margin-top: 100px;
}

form {
    background: white;
    width: 320px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(75,0,130,0.2);
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #6a0dad;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #4b0082;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
}

th {
    background: #6a0dad;
    color: white;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #6a0dad;
}
 
